PORT=5000
MONGO_URI=mongodb+srv://usuario:password@cluster.example.com/cahuin
MONGO_URI_DIRECT=
MONGO_ATLAS_HOSTS=
MONGO_REPLICA_SET=
JWT_SECRET=cambia-este-secreto-en-produccion
JWT_EXPIRES=30d
GOOGLE_CLIENT_ID=
GOOGLE_WEB_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_FACEBOOK_APP_ID=
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GEMINI_API_KEY=
EXPO_PUBLIC_API_URL=http://localhost:5000/api
CAHUIN_WEB_URL=http://localhost:3000
CAHUIN_API_PUBLIC_URL=http://localhost:5000
MERCADOPAGO_ACCESS_TOKEN=
WEBPAY_ENV=integration
WEBPAY_COMMERCE_CODE=
WEBPAY_API_KEY=
EXPO_PUBLIC_CAHUIN_WEB_URL=http://localhost:3000
